.carousel-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .nav-items {
    width: 1000px;
    margin-bottom: 41.86px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 151, 151, 0.32);
    .nav-item {
      text-align: center;
      min-width: 120px;
      color: #b7b7b7;
      font-size: 21px;
      display: inline-block;
      list-style: none;
      padding: 0 20px 15px;
      cursor: pointer;
    }
    .nav-item-active {
      color: #252020;
      font-size: 16px;
      border-bottom: 2px solid #152dff;
    }
  }
  .carousel-message {
    font: 16px/30px PingFangSC-Light;
    margin: 0px;
    max-width: 539px;
    text-align: center;
  }
  .quick-start {
    display: block;
    margin: 21.5px auto;
    width: 160px;
  }
  .carousel-wrapper {
    background: no-repeat center/95%
      url('https://img.alicdn.com/imgextra/i1/O1CN01GPIErY1cxzS5YoJAt_!!6000000003668-2-tps-2468-1332.png');
    width: 1234px;
    height: 666px;
    margin: auto;
    position: relative;
    .carousel-slide-container {
      position: relative;
      margin: auto;
      top: 5%;
      left: 0.5%;
      width: 69%;
      height: 81%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 1%;
      }
    }
    .carousel-button {
      position: absolute;
      outline: none;
      width: 44px;
      height: 44px;
      background-color: #d8d8d8;
      color: #fff;
      border: none;
      font-size: 24px;
      border-radius: 50%;
      cursor: pointer;
    }
    .carousel-button:hover {
      color: rgba(0, 0, 0, 0.1);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
    .left {
      top: 41%;
      transform: translateY(-50%);
      left: 0;
    }
    .right {
      top: 41%;
      transform: translateY(-50%);
      right: 0;
    }
  }
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0.2;
  }
}
@media screen and (max-width: 750px) {
  .carousel-container {
    height: auto;
    .nav-items {
      max-width: 60%;
      justify-content: flex-start;
      overflow-x: auto;
      .nav-item {
        min-width: 120px;
      }
      .nav-item:not(:last-of-type) {
        margin-right: 60px;
      }
    }
    .carousel-wrapper {
      min-height: 200px;
      display: none;
      .carousel-button {
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
    }
  }
}
