@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_2582453_ktl308t1tkn.woff2?t=1622454435556') format('woff2'),
       url('//at.alicdn.com/t/font_2582453_ktl308t1tkn.woff?t=1622454435556') format('woff'),
       url('//at.alicdn.com/t/font_2582453_ktl308t1tkn.ttf?t=1622454435556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}